# ==========================================
# C++ & Visual Studio 编译生成目录
# ==========================================
out/
build/
.vs/
*.user
*.suo
*.sln
*.vcxproj*
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
launch.vs.json

# ==========================================
# Qt 自动化生成的中间文件
# ==========================================
*_autogen/
moc_*.cpp
ui_*.h
qrc_*.cpp
*.moc

# ==========================================
# 操作系统缓存文件
# ==========================================
Thumbs.db
.DS_Store

# ==========================================
# 绝对不能提交的数据集与本地工作区！
# ==========================================